<!doctype html>
<html lang="" ng-app="<%= appName %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Engular Web Starter Kit</title>

  <base href="/">

  <!-- uncache -->
  <!-- build:css vendors.css -->
  <!-- bower:css -->

  <!-- endbower -->
  <!-- endbuild -->
  <!-- enduncache -->

  <!-- uncache -->
  <link rel="stylesheet" href="app.css">
  <!-- enduncache -->

</head>
<body>

<div ui-view></div>

<!-- uncache -->
<!-- build:js vendors.js -->
<!-- bower:js -->

<!-- endbower -->
<!-- endbuild -->
<!-- enduncache -->

<!-- uncache -->
<!-- build:js app.js -->
<script src="app.js"></script><% if(includeExamples) { %>
<!-- engular examples files -->
<script src="common/filters/uppercase/uppercase.filter.js"></script>
<script src="common/directives/greetings/greetings.directive.js"></script>
<script src="common/partials/home/home.partial.js"></script>
<script src="common/services/features/features.service.js"></script><% } %>
<!-- Add New Component JS Above -->
<!-- endbuild -->
<!-- enduncache -->

</body>
</html>
